body{
    background-image: url("../img/01.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font-size: 150%;
   
}
#allLocations{
    
    position: relative;
    border: brown solid;
    border-radius: 15px;
    margin:auto;
    width:95%;
    padding: 15px;}


h1,h2{
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    text-shadow:2px 5px #dd5e5e;
    font-weight: bold;
} 
header h2 {
    color: rgb(249, 249, 250);
}
h1 {
    color: rgb(11, 3, 116);
}
table *{

    background-color: rgba(255, 248, 220, 0.25);
    padding: 5px;
    border: 2px solid rgb(73, 73, 71);
    text-align: center;
    border-radius: 10px;
    font-size: 15px;    
    font-weight:bolder;
}
table *:last-child{
background-color:#73ce7791;

color: #010172;
text-shadow: 0px 0px 15px white;

}
table tr:first-child {
    background-color:  #0481a796;
    
}
table td:first-child {
    background-color: rgba(245, 0, 74, 0.601);
    font-weight: bold;
}
table tr:hover:not(:first-child){
    background-color: rgba(251, 56, 137, 0.5);
}
table td:hover:not(:first-child) {
     background-color: rgb(255, 59, 59);
    box-shadow: 2px 1px 2px  rgb(109, 2, 2) inset;
}
table tr:last-child th:hover{
    background-color: #53ec5a;
    box-shadow: 2px 1px 2px  #220ce4de inset;
}
button{
    background-color: rgb(253, 67, 67);
    color: rgb(250, 253, 54);
    width: 120px;
    height: 50px;
    font-size: 17px;
    border-radius: 10px;
    text-shadow:1px 1px 1px #000000;
}
button:hover{
    background-color: rgb(239, 250, 83);
    color: rgb(255, 0, 0);
    width: 120px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    text-shadow:1px 1px 1px #000000;}